$background-image: url("https://shorturl.at/krtv1");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --background-color: #fefae0; //米色 背景色
    --main-color: #e9edc9;
    --unsuccess-color: #f38181; //紅色
    --success-color: #95e1d3; //綠色
    --warning-color: #fce38a; //黄色
    --text-color: #495464; //黑色

    body {
        &::before {
            content: "";
            opacity: 0.7;
            background-image: $background-image;
            position: fixed;
            background-repeat: repeat;
            background-size: cover;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; //讓背景圖在最底層
        }
        .title {
            color: var(--text-color);
            background-color: var(--background-color);
            margin: auto;
            text-align: center;
            width: 30%;
            margin-top: 20px;
            font-size: 30px;
            font-weight: bold;
            padding: 10px;
            border-radius: 10px;
            /* color | offset-x | offset-y | blur-radius */
            text-shadow: #fff 1px 1px 5px;
            /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0 0 10px 1px #00000036;
        }
        .todo_container {
            margin: auto;
            width: 500px;
            background-color: var(--background-color);
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
            box-shadow: 0 0 10px 1px #00000036;

            @keyframes moveBackAndForth {
                0%,
                100% {
                }
                50% {
                    background-color: var(--unsuccess-color);
                    font-size: 0.7em;
                }
            }
            .input_todo {
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                border-radius: 5px;
                border: 1px solid #00000036;
                height: 40px;
            }
            input:focus {
                border: 1px solid var(--main-color);
            }

            .input_error {
                transition: 2s;
                animation: moveBackAndForth 2s ease-in-out;
                width: 100%;
                padding: 10px;
                margin: 10px 0;
                border-radius: 5px;
                border: 1px solid #00000036;
                height: 40px;
            }

            button {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #00000036;
                background-color: var(--main-color);
                color: var(--text-color);
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    background-color: var(--success-color);
                }
            }
        }
        .task_title {
            font-size: 2em;
            color: var(--text-color);
            background-color: var(--background-color);
            margin: auto;
            text-align: center;
            width: 20%;
            margin-top: 20px;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 0 0 10px 1px #00000036;
        }
        .todo_list {
            margin: 20px auto;
            padding: 10px;
            background-clip: padding-box;
            width: 500px;
            height: 300px;
            text-align: center;
            overflow-y: scroll;

            box-shadow: inset 150px 400px 0px #00000036;

            border-radius: 20px;
            scrollbar-width: thin;
            scrollbar-color: var(--text-color) var(--background-color);

            li {
                list-style: none;
                background-color: var(--main-color);
                padding: 10px;
                margin: 10px 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px 1px #00000036;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    margin-left: 50px;
                }

                .icon {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    &:hover {
                        color: var(--unsuccess-color);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 844px) {
        body {
            .title {
                width: 80%;
            }
            .todo_container {
                width: 80%;
            }
            .task_title {
                width: 30%;
            }
            .todo_list {
                width: 80%;
                scrollbar-width: none;
                height: 400px;
            }
        }
    }
}
